<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
  <style>
    .btn-primary {
      background-color: #171f65 !important;
      border: none;
    }

    .btn-danger {
      background-color: #770b0b !important;
      border: none;
    }

    .btn-success {
      background-color: #057817 !important;
      border: none;
    }
  </style>
</head>

<body>

  <div class="container " style="margin-top: 100px;">
    <div class="card align-items-center shadow-lg">
      <div class="card-header w-100"> </div>
      <div class="card-body p-5 w-50 shadow-lg m-5">
        <div class="d-flex justify-content-end">
          <a href="/kadr/profil/edit" class="btn btn-primary"><i class="fas fa-pen"></i></a>
        </div>
        <% if (user.worker_img=="Surat yok" ) { %>
          <div class="d-flex justify-content-center align-items-center">
            <div> <img src="/assets/img/avatar.jpg" class="img-fluid mt-5" width="150" height="150" alt="">
            </div>
          </div>
          <% } else { %>
            <div class="d-flex justify-content-center align-items-center">
              <div> <img src="/uploads/profil/<%= user.worker_img %>" class="img-fluid mt-5" width="200" height="200"
                  alt="">
              </div>
            </div>
            <% } %>
              <div class="d-flex justify-content-center flex-column align-items-center">
                <div class="d-flex justify-content-between mt-5 w-75">
                  <h3>Email: </h3>
                  <div>
                    <%= user.email %>
                  </div>
                </div>
                <a href="/kadr/users" class="btn btn-danger px-5 py-2">Yza çyk</a>
              </div>


      </div>
    </div>
  </div>

  <script src="/assets/js/bootstrap.min.js"></script>

</body>

</html>